<!-- Author: Het Patel -->

{% extends "hello/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
    <p>Contact page for the Visual Studio Code Django tutorial.</p>
    
    <div>
        <h2>Contact Information:</h2>
        <ul>
            <li><strong>Name:</strong> Het Patel</li>
            <li><strong>Email:</strong> hp544@njit.edu</li>
            <li><strong>Class:</strong> IS601</li>
            <li><strong>Mobile Number:</strong> 9712376544 </li>
        </ul>
    </div>
{% endblock %}
